{
  "root": true,
  "env": {
    "jest/globals": true,
    "browser": true,
    "amd": true,
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    // "requireConfigFile": false
  },
  "extends": ["eslint:recommended", "jest/recommended", "prettier/recommended"],
  "plugins": ["jest", "prettier"]
}
